{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block content %}
<section class="bg-auth row pb-5">
    <div class="col-12 text-center pb-5"><h1>My account</h1></div>


    <div class="col-md-5 col-12 mx-auto bg-form">
	<h3>Login to make your purchase</h3>

	<form class="login" method="POST" action="{% url 'account_login' %}">
		{% csrf_token %}
		{{ form|crispy}}}
		
		<a class="button secondaryAction text-muted" href="{% url 'account_reset_password' %}">reset password</a>
		<button class="primaryAction btn btn-auth" type="submit">Login</button>

        </form>
    </div>

    <div class="col-md-5 col-12 mx-auto bg-form">
    <div class="mx-5">
        <h3>Create an Account</h3>
        <p>Create an account and you will be able to:</p>   
        <div>
        <ul>
            <li>save time at checkout</li>
            <li>access your online order history</li>
            <li>save multiple delivery addresses</li>
            <li>enjoy the many additional benefits of the MASCULINE EXPERIENCE program</li>
        </ul>
        </div>
        <div>
        <a href="{{ signup_url }}" class="btn btn-auth">Create an account now</a>
        </div>
        <p>Activate account with initial login data.</p>
    </div>
     </div>
</section>  
{% endblock %}