{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}Logging Out{% endblock %}

{% block content %}
<section class="bg-auth row pb-5">
    <div class="col-12 text-center pb-5 bg-form">
        <h1>Have you got all that you need ?</h1>

        <h3>Logout</h3>

        <p>You are really leaving ?</p>

        <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        <button class="btn btn-auth" type="submit">Logout</button>
        </form>
    </div>
</section>
{% endblock %}
