{% extends 'base.template.html' %} {% block content %}
<section class="container-fluid p-0">
  <p class="bg-title">YOUR SHOPPING CART</p>
  <div class="m-3">
    <table class="table text-center">
      <thead>
        <tr>
          <th><input type="checkbox" disabled /></th>
          <th class="text-left w-50">Product</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Total Price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
      {% if cart.items|length > 0 %}
        {% for key, cart_item in cart.items %}
        <tr>
          <td><input type="checkbox" disabled /></td>
          <td class="text-left w-50">{{cart_item.name}}</td>
          <td>$ {{ cart_item.price }}</td>
          <td>
          <a href="{% url 'minus_qty' product_id=key %}" class="btn btn-light"><i class="far fa-minus-square text-dark"></i></a>
          {{cart_item.qty}}
          <a href="{% url 'add_qty' product_id=key %}" class="btn btn-light"><i class="far fa-plus-square text-dark"></i></a>
          </td>
          <td>$ {{ cart_item.item_total_cost }}</td>
          <td><a href="{% url 'remove_item' product_id=key %}" class="text-muted"><small>X</small></a></td>
        </tr>
        {%endfor%}
        <tr>
            <td colspan="5" class="text-right text-dark"><h4>Total : $ 0.00</h4></td>
            <td><a href="{% url 'checkout' %}" class="btn btn-light">Checkout</a> </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="6">---  You have not selected any items <a href="{% url 'shop' category='All' %}" class="btn btn-light border p-2">Shop now</a>  --- </td>
        </tr>
    {% endif %}
      </tbody>
    </table>
  </div>
</section>
{% endblock %}
