@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lateef&display=swap');

/* Header Font */
/* font-family: 'Dancing Script', cursive; */
/* Nav-link fonts */
/* font-family: 'Lateef', cursive; */
/* Body Font */
/* font-family: 'Raleway', sans-serif; */

body {
    font-family: 'Raleway', sans-serif;
}
.navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-size: 220%;
    letter-spacing: 4px;
}
.nav-link {
    font-family: 'Lateef', cursive;
    font-size: 120%;
    letter-spacing: 4px;
}

/* main_app css */
.img-thumb {
    height : 200px;
    width: 200px;

    -webkit-box-shadow: -4px -1px 46px -20px rgba(105,105,105,1);
    -moz-box-shadow: -4px -1px 46px -20px rgba(105,105,105,1);
    box-shadow: -4px -1px 46px -20px rgba(105,105,105,1);

    display: flex;
    align-items: flex-end;    
    margin : 10% 5% ;
}
.img-thumb h6 {
    background: black;
    color : whitesmoke;
    width :100%;
    padding: 5px 0;
    text-align: center;
}
.img-business {
    background: url("../images/thumb-business.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.img-casual {
    background: url("../images/thumb-casual.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.img-accessories {
    background: url("../images/thumb-accessories.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.img-footwear {
    background: url("../images/thumb-footwear.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.shop-thumb {
    height : 250px;
    width: 250px;

    -webkit-box-shadow: -4px -1px 46px -20px rgba(105,105,105,1);
    -moz-box-shadow: -4px -1px 46px -20px rgba(105,105,105,1);
    box-shadow: -4px -1px 46px -20px rgba(105,105,105,1);

    background: lightblue;
    margin : 10px auto;
    position: relative;
}
.shop-thumb:hover>div{
    display: block
}
.shop-overlay{
    background: rgba(44, 43, 43, 0.9);
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    display : none;
    text-align: center
}
.shop-overlay>:nth-child(1) {
    height: 40%;
    padding: 10%;
}
.shop-overlay>:nth-child(2) {
    height: 20%;
}
.shop-overlay>:nth-child(3) {
    height: 20%;
}
.shop-overlay>:nth-child(4) {
    height: 20%;
}
.shop-cart-bar{
    background: rgba(0, 0, 0, 0.9);
    display: flex;
}
.shop-overlay>div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.shop-cart-bar>:nth-child(1){
    flex: 2;
}
.shop-cart-bar>:nth-child(2){
    flex: 5;
}
.shop-cart-bar>:nth-child(3){
    flex: 2;
}
/* Footer */
footer {
    background: black;
    color : whitesmoke;
    font-family: 'Lateef', cursive;
}

/* common css */
.bg-title {
    background: rgb(231, 231, 231);
    font-family: 'Lateef', cursive;
    font-size: 140%;
    letter-spacing: 4px;
    padding: 10px 15px ;
}