@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lateef&display=swap');

/* Header Font */
/* font-family: 'Dancing Script', cursive; */
/* Nav-link fonts */
/* font-family: 'Lateef', cursive; */
/* Body Font */
/* font-family: 'Raleway', sans-serif; */

.navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-size: 220%;
    letter-spacing: 4px;
}
.nav-link {
    font-family: 'Lateef', cursive;
    font-size: 120%;
}
/* Footer */
footer {
    background: black;
    color : whitesmoke;
    font-family: 'Lateef', cursive;
}